<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DisableSqlCeAsDefaultProvider" value="false"/>
    <add key="KeepConnectionOpen" value="false"/>
    <!--Change the value below to set the directory for the database file-->
    <!--<add key="DatabaseDirectory" value="D://"/>-->
    <add key="DefaultDatabase" value="DebugDb.sdf"/>
  </appSettings>
</configuration>